{% extends 'base.html' %}
{% block content %}

<br>
<div class="container">
    <div class="shadow card" style="width: 25rem;">
            <div class="card-body">
               <h5 class="card-title"><b>{{task.name}}</b></h5>
               <p class="card-text"><b>{{task.priority}}</b></p>
               <p class="card-text"><b>{{task.date}}</b></p>
               <a href="{% url 'delete' task.id %}" class="btn btn-primary">Done</a>
               <a href="{% url 'update' task.id %}" class="btn btn-success">Update</a>
            </div>
    </div>
</div>

{% endblock %}